html {
    background-color: #EFEFEF;
}

body {
    font-family: sans-serif;
    background-color: white;
    width: 90%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
}

h1 {
    text-align: center;
}

pre, code {
    background-color: #EFEFFF;
    color: red;
    padding: 5px;
}

pre.code {
    margin-left: 15px;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

pre.code:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.48);
}

table {
    border-collapse: collapse;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

table:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.48);
}
th, td {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px;
}

th {
    background-color: #EFFFEF;
}
tr:hover {
    background-color: #EFEFEF;
}
a {
    color: blue;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    font-style: italic;
}
